<blockquote class="blockquote text-right">
  <p class="mb-0">Desarrollo de aplicaciones web utilizando Ruby on Rails</p>
  <footer class="blockquote-footer">Uziel Trujillo Colón</footer>
</blockquote>
