<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "logo48.jpg", class: 'd-inline-block align-center' %>
    <span class="navbar-logotxt">Arco Imagen</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="collapse navbar-collapse pull-right" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Encuentra tu lugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestros productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lugares de influencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mapa completo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestros precios</a>
        </li>
      </ul>
    </div>
  
</nav>
