.carousel-caption{
  bottom: 145px !important;
    h3{
      color: #FFFFFF;
      font-size: 2.5em;
      text-shadow:
       -1px -1px 0 #444,  
        1px -1px 0 #444,
        -1px 1px 0 #444,
         1px 1px 0 #444;
    }
    p{
      margin-top: 40px !important;
      font-weight: 300;
      font-size: 1.2em;
      text-shadow:
       -1px -1px 0 #444,  
        1px -1px 0 #444,
        -1px 1px 0 #444,
         1px 1px 0 #444;
    }
}
