<section id="banner-welcome">
  
  <div id="banner-title">BIENVENIDO A ARCO IMAGEN!</div>
  <hr class="h200 red">
  <div id="banner-description">Haz que tus productos lleguen a tus clientes. Puntos de acceso</div>
  
  <div class="search-promo">
    <div class="input-group"> 
      <input id="searchCatHide" type="hidden" value="" name="searchCatHide">
      <input type="text" name="search" placeholder="Encuentra Lugares" class="form-control"> 
      
      <div class="input-group-btn"> 
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Categorias
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Restaurantes</a>
            <a class="dropdown-item" href="#">Cines</a>
          </div>
        </div>
      </div>

      <div class="input-group-btn btn-promo-search"> 
        <button type="submit" class="btn btn-danger">Search</button> 
      </div>

    </div>
  </div>

</section>
