<section id="map">
  <div class="map-responsive">
    <div class="map-description">
      <span>Nuestros productos cada vez mas cerca de tí</span> 
    </div>
    <div id="principalMap"></div>
  </div>
</section>
