<section id="quienes_somos" class="my-3">
  <h1>¿Quienes somos?</h1>
  <blockquote class="mx-auto">
    Somos la empresa, especializada en la creación de <b>ESPACIOS PUBLICITARIOS</b> que generan un impacto social, consiente e innovador.
  </blockquote>
</section>
